
body{
  background-color: #151515;
}
nav{
  display: flex;
  justify-content: center;
}
li{
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
a:hover{
  background-color: #65a1cf;
}
ul{
  padding: 1%;
}
.pagination{
  background-color: white;
  display: flex;
  justify-content:  center;
  margin-top: 290px;
  width: 55%;
}
.page-item{
  background-color: #5b5c66;
  margin: 20px 5px;
  width: 95px;
  height: 36px;
  border-radius: 4px;
}

.page-link{
  font-size: 17px;
  color: white;
  font-weight: bold;
}
.mid a{
  color:black;
  background-color: white;
}
.active a{
  background-color: white;
  color: black;
}
